# Manual-run Terraform Pipeline
# Branch ko manual run ke time select karoge, auto-trigger disabled

trigger: none   # Auto-trigger disabled

pool:
  name: 'harami'   # Self-hosted agent pool

stages:
  - stage: 'tfinit'
    displayName: 'tfint'
    jobs:
      - job: tfinit
        displayName: tfint
        steps:
        - task: TerraformCLI@2
          displayName: 'Terraform Init'
          inputs:
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)'
            providerServiceConnection: 'gopikrishna'
        - task: PublishPipelineArtifact@1
          inputs:
           targetPath: '$(System.DefaultWorkingDirectory)'
           artifact: 'tf-config'
           publishLocation: 'pipeline'

      - job: tfplan
        displayName: tfplan
        dependsOn: tfinit
        steps:
        - task: DownloadPipelineArtifact@2
          inputs:
           buildType: 'current'
           artifactName: 'tf-config'
           targetPath: '$(Pipeline.Workspace)'
        - task: PowerShell@2
          inputs:
           targetType: 'inline'
           script: |
             cd "$(Pipeline.Workspace)"
              Write-Host "Current directory: $(Get-Location)"
              icacls .terraform\providers /grant Everyone:RX /T
 
        
        - task: TerraformCLI@2
          displayName: 'Terraform plan'
          inputs:
            command: 'plan'
            workingDirectory: '$(Pipeline.Workspace)'
            providerServiceConnection: 'gopikrishna'    

          - task: TerraformCLI@2
           displayName: 'Terraform Apply'
           inputs:
            command: 'apply'
            workingDirectory: '$(Pipeline.Workspace)'
            providerServiceConnection: 'gopikrishna'
            commandOptions: '-auto-approve'  
        
